 <main class="pt-1">
       <section class="wordsendsicyel">
            <div class="container">
                <div class="flexwordsendcycal">
                    <div class="left-wordsendcycal" data-aos="fade-up" data-aos-duration="1500">
                        <h3>Feelings Wheel</h3>
                        <p>The first step in your journey to Emotional
                            Authenticity and discovering your Greatness is
                            to get reconnected to your authentic self. The
                            Feelings Wheel will help you identify how you
                            are feeling so you can recognize how the
                            unhealed pain from the past is being relived in
                            every area of your daily life and keeping you
                            disconnected from your authentic self. Download
                            it below to get started.</p>

                        <div class="form">
                        <div class="contact-into" data-aos="fade-up" data-aos-duration="1500">
                    <h4>Free Download</h4>
                    <p>The first step to Emotional Authenticity and discovering your Greatness is to reconnect to your
                        authentic self. Complete this form for instant access.</p>
                </div>
                <form>
                        <div class="row">
                        
                            <input type="text" placeholder="Name">
                             <input type="email" placeholder="E-mail Address">
                        </div> 
                        <button class="button">Download Now</button>
                        </form>
                    </div>
                    </div>
                    <div class="right-wordsendcycal">
                        <img src="images/feelings-Wheel.webp">
                    </div>
                </div>
            </div>
        </section>

        <div class="card-section">
            <div class="container">
                <div class="card-row green" data-aos="fade-up" data-aos-duration="1500">
                    <div class="card-image-grey-bg">
                        <img src="images/afro-american-business-woman.jpeg" class="image-c">
                    </div>
                    <div class="card-content-grey-bg">
                        <h3>Your Journey to Being Yourself</h3>
                        <p>The first step in your journey to Emotional
                            Authenticity and discovering your Greatness is
                            to get reconnected to your authentic self. The
                            Feelings Wheel will help you identify how you
                            are feeling so you can recognize how the
                            unhealed pain from the past is being relived in
                            every area of your daily life and keeping you
                            disconnected from your authentic self. Download
                            it below to get started.</p>
                        <div class="button-row canter">
                            <a class="button whitebt" href="#">Enroll
                                now</a>

                        </div>
                    </div>
                </div>

                <div class="card-row" data-aos="fade-up" data-aos-duration="1500">
                    <div class="card-content-grey-bg">
                        <h3>Feelings Wheel</h3>
                        <p>The first step in your journey to Emotional
                            Authenticity and discovering your Greatness is
                            to get reconnected to your authentic self. The
                            Feelings Wheel will help you identify how you
                            are feeling so you can recognize how the
                            unhealed pain from the past is being relived in
                            every area of your daily life and keeping you
                            disconnected from your authentic self. Download
                            it below to get started.</p>
                        <div class="button-row canter">
                            <a class="button while" href="books.html">Available Now at Barnes
                                &amp; Noble</a>
                        </div>
                    </div>

                    <div class="card-image-grey-bg">
                        <img src="images/12.jpeg" class="image-c">
                    </div>
                </div>

            </div>
        </div>

 
        <div class="testimonial-section">
            <div class="container">
                <div class="testimonia-row">
                    <div class="testimonial-text">
                        <h5 class="tag-line">Testimonials</h5>
                        <h3>Trusted by the world's fastest growing companies</h3>
                        <div class="testimonial-navigation">
                            <button class="swiper-button-next"></button>
                            <button class="swiper-button-prev"></button>
                        </div>
                    </div>


                    <div class="swiper testimoalkenny">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="testimonial-card" id="testimonial-card">
                                    <img src="images/testimonial-img.svg" class="testimonialimg" />
                                    <img src="images/5.jpeg" class="userpertion" alt="Testimonial Person" />
                                    <div class="testimonial-content">
                                        <h3>Monday</h3>
                                        <img src="images/star.svg" class="stars" />
                                        <p class="testimonial-message">Thank you, thank you, thank you !
                                            The Master of Coaching !
                                            ’I’ve listened to many Therapist’s / Coach and nothing has been so
                                            beneficial. Kenny Weiss, you are the best.</p>
                                        <p class="testimonial-author">Carolina Escobar</p>
                                        <p class="testimonial-role">November 9, 2024.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="testimonial-card" id="testimonial-card">
                                    <img src="images/testimonial-img.svg" class="testimonialimg" />
                                    <img src="images/9.jpeg" class="userpertion" alt="Testimonial Person" />
                                    <div class="testimonial-content">
                                        <h3>Tuesday</h3>
                                        <img src="images/star.svg" class="stars" />
                                        <p class="testimonial-message">Kenny is good at what he does. I did a lot of
                                            healing before I started his class and listening to his videos. But he has
                                            given me the last piece of the puzzle that I was missing and that is that I
                                            am tainted with toxic shame. Now I know exactly why my relationships never
                                            work out. I always pick the wrong people and I am too busy trying to serve
                                            them and neglecting my own relationship needs.</p>
                                        <p class="testimonial-author">Laureen Price</p>
                                        <p class="testimonial-role">August 22, 2024.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="testimonial-card" id="testimonial-card">
                                    <img src="./images/testimonial-img.svg" class="testimonialimg" />
                                    <img src="images/12.jpeg" class="userpertion" alt="Testimonial Person" />
                                    <div class="testimonial-content">
                                        <h3>Wednesday</h3>
                                        <img src="images/star.svg" class="stars" />
                                        <p class="testimonial-message">Thank you 🙏😊
                                            He came to me at the right time.</p>
                                        <p class="testimonial-author">akshay a dwivedi</p>
                                        <p class="testimonial-role">August 4, 2024.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>


 
 

    </main>
