<main class="pt-1">
        <section class="book-section podcast-banner">
            <div class="container">
                <div class="book-row">
                    <div class="book-cintent" data-aos="fade-up" data-aos-duration="1500">
                        <h5 class="tag-line">Latest episode</h5>
                        <h3>Dreams of an artist and unique ideas scattered through a deserted mind</h3>
                        <p>This is not meant to be pleasant or polite. It is supposed to be true and unique. Yes, that's
                            what I try every day... to be unique.</p>

                        <div class="audio-podcast">
                            <div class="audio-content">
                                <div class="audio-player">
                                    <iframe
                                        src="https://creators.spotify.com/pod/show/healthehurtwithkenny/embed/episodes/How-to-Heal-from-a-Narcissistic-Parent-5-Powerful-Steps-to-Reclaim-Your-Life-e358o7u/a-ac1oru3"
                                        height="102px" width="400px" frameborder="0" scrolling="no"></iframe>
                                </div>
                            </div>


                        </div>


                        <a class="detail2" href="#audioo">More details</a>
                        <h4>Follow and subscribe to Heal the Hurt on one of these platforms</h4>
                        <div class="flex-podcastbut mt-0">
                            <a class="button" target="_blank"
                                href="https://www.youtube.com/playlist?list=PLOKbwXgOsMo94Ign8iLvv4mEhnGn1lu09">Youtube</a>
                            <a class="button" target="_blank" href="https://geni.us/KWDywbp">Spotify</a>
                            <a class="button" target="_blank" href="https://geni.us/UwnW71m">iTunes</a>
                            <a class="button" target="_blank"
                                href="https://anchor.fm/healthehurtwithkenny">Anchor.fm</a>
                        </div>
                    </div>

                    <div class="img-box">
                       
                        <img src="images/podcasts-of.jpeg" loading="lazy" alt="" class="image-2">
                    </div>

                </div>
            </div>
        </section>

        <section id="audioo" class="audio-section">
            <div class="container">

                <div class="podcast-butt">
                    <h3>Check Out My Latest Episodes!</h3>

                </div>




                <div class="audio-podcast-row">


                    <div class="iframe-row">
                        <iframe
                            src="https://creators.spotify.com/pod/show/healthehurtwithkenny/embed/episodes/How-to-Finally-Break-Free-from-a-Narcissistic-Parent-e35ard0"
                            height="102px" width="400px" frameborder="0" scrolling="no"></iframe>
                    </div>


                    <div class="iframe-row">
                        <iframe
                            src="https://creators.spotify.com/pod/show/healthehurtwithkenny/embed/episodes/How-to-Heal-from-a-Narcissistic-Parent-5-Powerful-Steps-to-Reclaim-Your-Life-e358o7u/a-ac1oru3"
                            height="102px" width="400px" frameborder="0" scrolling="no"></iframe>
                    </div>



                    <div class="iframe-row">
                        <iframe
                            src="https://creators.spotify.com/pod/show/healthehurtwithkenny/embed/episodes/Stop-Defending--Start-Healing-e3528iu/a-ac1gk8d"
                            height="102px" width="400px" frameborder="0" scrolling="no"></iframe>
                    </div>



                    <div class="iframe-row">
                        <iframe
                            src="https://creators.spotify.com/pod/show/healthehurtwithkenny/embed/episodes/5-DEADLY-Mistakes-Youre-Making-When-Dealing-with-Narcissists-e350gd7/a-ac1emu8"
                            height="102px" width="400px" frameborder="0" scrolling="no"></iframe>
                    </div>


                    <div class="iframe-row">
                        <iframe
                            src="https://creators.spotify.com/pod/show/healthehurtwithkenny/embed/episodes/Why-You-Keep-Going-Back-to-Emotionally-Unavailable-Men-Even-When-You-Know-Better-e34v3ko/a-ac1chlu"
                            height="102px" width="400px" frameborder="0" scrolling="no"></iframe>
                    </div>


                    <div class="iframe-row">
                        <iframe
                            src="https://creators.spotify.com/pod/show/healthehurtwithkenny/embed/episodes/Why-People-Dont-Hear-YouAnd-How-to-Fix-It-e34ohvl/a-ac146f4"
                            height="102px" width="400px" frameborder="0" scrolling="no"></iframe>
                    </div>


                    <!-- Podcast Card 1 -->
                    <!-- <div class="audio-podcast" data-aos="fade-up" data-aos-duration="1500">
                        <img src="images/music.avif" alt="thumb">
                        <div class="audio-content">
                            <h5>SEASON 1 • SEPTEMBER 3, 2018 • #CLOTHES, #TRAVEL, #SOLO</h5>
                            <h4><i class="fa-solid fa-music"></i> Visiting my best friend’s city for the first time</h4>
                            <div class="audio-player">
                                <button class="play-btn">▶</button>
                                <span class="time">00:00</span>
                                <div class="seek">
                                    <div class="seek-fill"></div>
                                </div>
                                <span class="time duration">00:00</span>
                                <div class="actions">
                                    <span class="vol"><i class="fa-solid fa-volume-high"></i></span>
                                    <a href="https://www.coothead.co.uk/audio/You-Cant-Always-Get-What-You-Want.mp3"
                                        download><i class="fa-solid fa-download"></i></a>
                                </div>
                            </div>
                            <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of
                                spring
                                which I enjoy
                                with my whole heart...</p>
                            <audio src="https://www.coothead.co.uk/audio/You-Cant-Always-Get-What-You-Want.mp3"></audio>
                        </div>
                    </div> -->

                    <!-- Podcast Card 2 -->
                    <!-- <div class="audio-podcast" data-aos="fade-up" data-aos-duration="1500">
                        <img src="images/music.avif" alt="thumb">
                        <div class="audio-content">
                            <h5>SEASON 2 • SEPTEMBER 3, 2018 • #CLOTHES, #TRAVEL, #SOLO</h5>
                            <h4><i class="fa-solid fa-music"></i> Visiting my best friend’s city for the first time</h4>
                            <div class="audio-player">
                                <button class="play-btn">▶</button>
                                <span class="time">00:00</span>
                                <div class="seek">
                                    <div class="seek-fill"></div>
                                </div>
                                <span class="time duration">00:00</span>
                                <div class="actions">
                                    <span class="vol"><i class="fa-solid fa-volume-high"></i></span>
                                    <a href="https://www.coothead.co.uk/audio/You-Cant-Always-Get-What-You-Want.mp3"
                                        download><i class="fa-solid fa-download"></i></a>
                                </div>
                            </div>
                            <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of
                                spring
                                which I enjoy
                                with my whole heart...</p>
                            <audio src="https://www.coothead.co.uk/audio/You-Cant-Always-Get-What-You-Want.mp3"></audio>
                        </div>
                    </div> -->


                    <!-- Podcast Card 3 -->
                    <!-- <div class="audio-podcast" data-aos="fade-up" data-aos-duration="1500">
                        <img src="images/music.avif" alt="thumb">
                        <div class="audio-content">
                            <h5>SEASON 3 • SEPTEMBER 3, 2018 • #CLOTHES, #TRAVEL, #SOLO</h5>
                            <h4><i class="fa-solid fa-music"></i> Visiting my best friend’s city for the first time</h4>
                            <div class="audio-player">
                                <button class="play-btn">▶</button>
                                <span class="time">00:00</span>
                                <div class="seek">
                                    <div class="seek-fill"></div>
                                </div>
                                <span class="time duration">00:00</span>
                                <div class="actions">
                                    <span class="vol"><i class="fa-solid fa-volume-high"></i></span>
                                    <a href="https://www.coothead.co.uk/audio/You-Cant-Always-Get-What-You-Want.mp3"
                                        download><i class="fa-solid fa-download"></i></a>
                                </div>
                            </div>
                            <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of
                                spring
                                which I enjoy
                                with my whole heart...</p>
                            <audio src="https://www.coothead.co.uk/audio/You-Cant-Always-Get-What-You-Want.mp3"></audio>
                        </div>
                    </div> -->


                    <!-- Podcast Card 4 -->
                    <!-- <div class="audio-podcast" data-aos="fade-up" data-aos-duration="1500">
                        <img src="images/music.avif" alt="thumb">
                        <div class="audio-content">
                            <h5>SEASON 4 • SEPTEMBER 3, 2018 • #CLOTHES, #TRAVEL, #SOLO</h5>
                            <h4><i class="fa-solid fa-music"></i> Visiting my best friend’s city for the first time</h4>
                            <div class="audio-player">
                                <button class="play-btn">▶</button>
                                <span class="time">00:00</span>
                                <div class="seek">
                                    <div class="seek-fill"></div>
                                </div>
                                <span class="time duration">00:00</span>
                                <div class="actions">
                                    <span class="vol"><i class="fa-solid fa-volume-high"></i></span>
                                    <a href="https://www.coothead.co.uk/audio/You-Cant-Always-Get-What-You-Want.mp3"
                                        download><i class="fa-solid fa-download"></i></a>
                                </div>
                            </div>
                            <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of
                                spring
                                which I enjoy
                                with my whole heart...</p>
                            <audio src="https://www.coothead.co.uk/audio/You-Cant-Always-Get-What-You-Want.mp3"></audio>
                        </div>
                    </div> -->


                </div>
            </div>
        </section>

 <section class="podcastvideos">
            <div class="container">
                <div class="videotestiomonials">
                    <h3>Tiffany's Transformation</h3>
                    <p>"I spent over $80,000 with all the big-name gurus and nothing changed. Since working with Kenny
                        and the University, My whole life has shifted"</p>
                </div>

                <div class="videorow">
                    <div class="video-sec">
                        <iframe title="YouTube video player" src="https://player.hotmart.com/embed/OLDAWv1EZx"
                            width="100%" height="500" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
                    </div>

                    <div class="video-sec">
                        <iframe title="YouTube video player" src="https://player.hotmart.com/embed/4Rbd6v4KLv"
                            width="100%" height="500" frameborder="0" allowfullscreen="allowfullscreen"></iframe> 

                    </div>


                </div>

            </div>

        </section>


 
    </main>