 <main class="pt-1">
        <section class="wordsendsicyel">
            <div class="container">
                <div class="flexwordsendcycal">
                    <div class="left-wordsendcycal" data-aos="fade-up" data-aos-duration="1500">
                        <h3>Worst Day Cycle</h3>
                        <p>For centuries society has stigmatized, and science has incorrectly downplayed, the
                            importance of emotions. Unfortunately, these factors have resulted in humans developing
                            an emotionally self-destructive survival process to absorb the childhood injuries we
                            all experience from perfectly imperfect caregivers. I call this process The Worst Day
                            Cycle.</p>
                    </div>
                    <div class="right-wordsendcycal">
                        <img src="images/worst-day-cycle.png" class="cycle2">
                        <img src="images/worst-day-text.png" class="worst-day-text">
                    </div>
                </div>
            </div>
        </section>
 
        <div class="section-wrapper">
            <div class="container">
                <div class="flex-inwrapper">
                    <div class="content" data-aos="fade-up" data-aos-duration="1500">
                        <h3>The Replay: Cycle of Shame</h3>

                        <p class="desc">The overwhelming emotional experience of childhood injury, loss of inherent
                            power, and adoption of a false persona create a fear-based traumatic emotional chemical
                            addiction in the brain and body of each child.</p><br>

                        <p class="desc">This emotional addiction becomes a mostly subconscious shame-based compulsion to
                            replay the unhealed childhood injuries resulting in each adult relationship/s, career/s, and
                            health outcome/s mirroring the original childhood emotional injury the individual has yet to
                            heal.</p>

                        <p class="desc">A person does this to regain their lost power (they are now in control of doing
                            it to themselves) and as a way to let themselves know they need to heal the pain from the
                            past so they can reclaim their authentic self.</p>

                        <p class="desc">Sadly, the individual will deny their part because both society and science have
                            not made them aware of the role they are playing in creating their emotional misery.</p><br>

                        <p class="desc">Successfully conquering <span class="bolder">The Worst Day Cycle </span>
                            requires healing the shame and
                            facing this denial by developing <span class="bolder">Emotional Authenticity.</span>

                        </p>

                        <p class="desc">In doing so, the individual reclaims their authentic self by healing the pain
                            from the past and discovering the ability to forgive their caregivers and themselves for
                            their part in their life difficulties.

                        </p>



                    </div>

                    <div class="images">
                        <div class="img1"><img src="images/1.jpeg" alt="Group Coaching"></div>
                        <div class="img2"><img src="images/leadership-collaboration.jpeg" alt="Workshop Session"></div>
                        <div class="decor"></div>
                    </div>
                </div>
            </div>
        </div>

        <section class="replay-section" data-aos="fade-up" data-aos-duration="1500">
            <div class="container">
 
                <!-- Section 2 -->
                <div class="vertyvery-box">
                    <h3>Your Journey to Success</h3>
                    <p>
                        The end result is the creation of a new self-empowering emotional chemical addiction that
                        embraces those perfect imperfections.
                    </p>
                    <p>
                        The resulting wisdom allows individuals to reach their full potential and operate in their
                        destiny.
                    </p>
                    <p>
                        Most importantly, the deep connection and acceptance they longed for are achieved—even if their
                        caregivers never participate in the healing.
                    </p>
                    <img class="form-bac" src="images/form-bac.png">
                </div>
            </div>
        </section>

        <section class="book-post">
            <div class="container">
                <div class="booklistblog">

                    <div class="bookcard" data-aos="fade-up" data-aos-duration="1500">
                        <div class="bookcardimg">
                            <img src="images/part1.webp">
                        </div>
                        <div class="bookcardbody">
                            <h4>How To Heal The Worst Day Cycle- Part 1</h4>
                            <div class="info">
                                <div><i class="fa-solid fa-calendar-days"></i> May 14, 2022</div>
                                <div><i class="fa-solid fa-user-tie"></i> Worst Day Cycle</div>
                            </div>
                            <p> For centuries society has stigmatized, and science has incorrectly downplayed the
                                importance of Emotional Authenticity. But unfortunately, these factors have resulted in
                                humans developing an emotionally self-destructive survival process to absorb the
                                childhood... </p>

                            <div class="author">
                                <div>
                                    <img src="images/16.jpeg" alt="Author">
                                    <div class="author-info">
                                        <span>By Kenny</span>
                                    </div>
                                </div>
                                <a href="#" class="button abslut">
                                    Read More <span class="arrow"><i class="fa-solid fa-arrow-right"></i></span>
                                </a>

                            </div>

                        </div>
                    </div>

                    <div class="bookcard" data-aos="fade-up" data-aos-duration="1500">
                        <div class="bookcardimg">
                            <img src="images/part2.webp">
                        </div>
                        <div class="bookcardbody">
                            <h4>How To Heal The Worst Day Cycle – Part 2 Trauma</h4>
                            <div class="info">
                                <div><i class="fa-solid fa-calendar-days"></i> Apr 22, 2022</div>
                                <div><i class="fa-solid fa-user-tie"></i> Worst Day Cycle</div>
                            </div>
                            <p>Today's Best Day Blog article is here to help you on your journey to healing from the
                                past, gain Emotional Authenticity, and love and accept your perfect imperfections. This
                                is part two of my 5-part series about how to heal The Worst Day Cycle, and here I'm
                                going to...</p>

                            <div class="author">
                                <div>
                                    <img src="images/16.jpeg" alt="Author">
                                    <div class="author-info">
                                        <span>By Kenny</span>
                                    </div>
                                </div>
                                <a href="#" class="button abslut">
                                    Read More <span class="arrow"><i class="fa-solid fa-arrow-right"></i></span>
                                </a>

                            </div>

                        </div>
                    </div>


                    <div class="bookcard" data-aos="fade-up" data-aos-duration="1500">
                        <div class="bookcardimg">
                            <img src="images/part3.webp">
                        </div>
                        <div class="bookcardbody">
                            <h4>How To Heal The Worst Day Cycle – Part 3 Fear</h4>
                            <div class="info">
                                <div><i class="fa-solid fa-calendar-days"></i> Apr 3, 2022</div>
                                <div><i class="fa-solid fa-user-tie"></i> Worst Day Cycle</div>
                            </div>
                            <p>In part 3 of how to heal The Worst Day Cycle, I will share how the brain and body create
                                the emotional, and chemical addiction to fear, which is stage 2 of the cycle. If you
                                missed parts one and two, I provide links at the end of this article. How the brain
                                works It...</p>

                            <div class="author">
                                <div>
                                    <img src="images/16.jpeg" alt="Author">
                                    <div class="author-info">
                                        <span>By Kenny</span>
                                    </div>
                                </div>
                                <a href="#" class="button abslut">
                                    Read More <span class="arrow"><i class="fa-solid fa-arrow-right"></i></span>
                                </a>

                            </div>

                        </div>
                    </div>


                    <div class="bookcard" data-aos="fade-up" data-aos-duration="1500">
                        <div class="bookcardimg">
                            <img src="images/part4.webp">
                        </div>
                        <div class="bookcardbody">
                            <h4>How To Heal The Worst Day Cycle – Part 4 Shame</h4>
                            <div class="info">
                                <div><i class="fa-solid fa-calendar-days"></i> Apr 1, 2022</div>
                                <div><i class="fa-solid fa-user-tie"></i> Worst Day Cycle</div>
                            </div>
                            <p>As a species, we need two things to survive, attachment to another human being and the
                                ability to pursue our authentic selves. Because our caregivers are human and therefore,
                                perfectly imperfect, we survive by dropping our authentic selves to create attachment.
                                The...</p>

                            <div class="author">
                                <div>
                                    <img src="images/16.jpeg" alt="Author">
                                    <div class="author-info">
                                        <span>By Kenny</span>
                                    </div>
                                </div>
                                <a href="#" class="button abslut">
                                    Read More <span class="arrow"><i class="fa-solid fa-arrow-right"></i></span>
                                </a>

                            </div>

                        </div>
                    </div>
 

                    <div class="bookcard" data-aos="fade-up" data-aos-duration="1500">
                        <div class="bookcardimg">
                            <img src="images/part5.webp">
                        </div>
                        <div class="bookcardbody">
                            <h4>How To Heal The Worst Day Cycle – Part 5 Denial</h4>
                            <div class="info">
                                <div><i class="fa-solid fa-calendar-days"></i> Mar 31, 2022</div>
                                <div><i class="fa-solid fa-user-tie"></i> Worst Day Cycle</div>
                            </div>
                            <p>It has been my life experience that the single greatest killer on the planet today is
                                denial. It permeates every aspect of life and it is always at the central core of all
                                life problems. Denial of this truth itself is why no one is talking about or dealing
                                with it. Therefore, becoming an expert in your denial and self-deception is the most
                                important skill you need to learn if you want to overcome The Worst Day Cycle. By doing
                                so, you will have a profound impact on your healing journey.</p>

                            <div class="author">
                                <div>
                                    <img src="images/16.jpeg" alt="Author">
                                    <div class="author-info">
                                        <span>By Kenny</span>
                                    </div>
                                </div>
                                <a href="#" class="button abslut">
                                    Read More <span class="arrow"><i class="fa-solid fa-arrow-right"></i></span>
                                </a>

                            </div>

                        </div>
                    </div>


                    <div class="bookcard" data-aos="fade-up" data-aos-duration="1500">
                        <div class="bookcardimg">
                            <img src="images/part5.webp">
                        </div>
                        <div class="bookcardbody">
                            <h4>How To Heal The Worst Day Cycle- Part 1</h4>
                            <div class="info">
                                <div><i class="fa-solid fa-calendar-days"></i> May 14, 2022</div>
                                <div><i class="fa-solid fa-user-tie"></i> Worst Day Cycle</div>
                            </div>
                            <p> For centuries society has stigmatized, and science has incorrectly downplayed the
                                importance of Emotional Authenticity. But unfortunately, these factors have resulted in
                                humans developing an emotionally self-destructive survival process to absorb the
                                childhood... </p>

                            <div class="author">
                                <div>
                                    <img src="images/16.jpeg" alt="Author">
                                    <div class="author-info">
                                        <span>By Kenny</span>
                                    </div>
                                </div>
                                <a href="#" class="button abslut">
                                    Read More <span class="arrow"><i class="fa-solid fa-arrow-right"></i></span>
                                </a>

                            </div>

                        </div>
                    </div>



                </div>
            </div>
        </section>
 

    </main>
