 <main class="pt-1">
        <div class="contactsection">
            <div class="container">
                <div class="contact-into" data-aos="fade-up" data-aos-duration="1500">
                    <h5 class="tag-line">Contact us</h5>
                    <h3>Let’s Make Something <br>Great Together</h3>
                </div>
                <div class="contactflexform">
                    <div class="leftcontactimg">
                        <img src="images/others-img2.png">
                    </div>

                    <div class="form">
                        <div class="row">
                            <input type="text" placeholder="First Name" />
                            <input type="text" placeholder="Last Name" />
                        </div>

                        <div class="row my-2">
                            <input type="email" placeholder="E-mail Address" />
                            <input type="tel" placeholder="Phone Number" />
                        </div>

                        <div class="row">
                            <textarea rows="5" placeholder="Message"></textarea>
                        </div>
 
                        <button class="button">Send Message</button>
                    </div>
                </div>

                <div class="contact-boxesflex">
                    <div class="contacts-box">
                        <div class="iconcontact">
                            <i class="fa-solid fa-envelope"></i>
                        </div>
                        <div class="contact-content">
                            <h4>Email</h4>
                            <a href="#">kw&#64;kennyweiss.net</a>
                        </div>
                    </div>

                    <div class="contacts-box">
                        <div class="iconcontact">
                            <i class="fa-solid fa-phone"></i>
                        </div>
                        <div class="contact-content">
                            <h4>Phone</h4> 
                        </div>
                    </div>
                    <div class="contacts-box">
                        <div class="iconcontact">
                            <i class="fa-solid fa-location-dot"></i>
                        </div>
                        <div class="contact-content">
                            <h4>Schedule</h4>
                            <p>Sunday-Fri: 9 AM – 6 PM</p>
                        </div>
                    </div>


                </div>
                <div class="map">
                    <iframe src="https://www.google.com/maps?q=New+York,+USA&output=embed" allowfullscreen
                        loading="lazy"></iframe>
                </div>
            </div>

        </div>


        

    </main>
