 <header id="headerbg" class="header blacktext"  [class.bgcolor]="bgcolor">
        <div class="container">
            <div class="navbars" id="nav-menu">
                <div class="topbar">
                    <div class="logo">
                        <a  routerLink="/" class="logo-brand">
                            <img src="images/logo.png">
                        </a>

                         <div class="flexsocial whitei">
                            <a href="https://www.facebook.com/kennyweiss.net" class="sociallink"><i class="fa-brands fa-facebook-f"></i> </a> 
                            <a href="https://www.instagram.com/kennyweiss.kw" class="sociallink"><i class="fa-brands fa-instagram"></i> </a>
                            <a href="https://twitter.com/kennyweisskw" class="sociallink"><i class="fa-brands fa-x-twitter"></i> </a>
                            <a href="https://www.tiktok.com/@kennyweisskw" class="sociallink"><i class="fa-brands fa-tiktok"></i> </a>
                        </div>
                    </div>

                    <button class="menu-toggle" id="menu-toggle">
                        <i class="open fa-solid fa-bars"></i>
                        <i class="close fa-solid fa-xmark"></i>
                    </button>
                </div>

                <ul class="navmenu">
                    <li><a  routerLink="/" routerLinkActive="active">Home</a></li>
                    <li><a  routerLink="/meet-kenny" routerLinkActive="active">Meet Kenny</a></li>
                    <li><a routerLink="/courses" routerLinkActive="active">Courses</a></li>
                    <li><a  routerLink="/books" routerLinkActive="active">Books</a></li>
                    <li class="dropreletiv"><a class="active-nav" href=""><span>Free Resources</span> <i
                                class="fa-solid fa-chevron-down"></i></a>
                        <ul class="doropmenu">
                            <li><a routerLink="/resources" routerLinkActive="active">Resources</a></li>
                            <li><a routerLink="/blog" class="active-nav"   routerLinkActive="active">Blog</a></li>
                            <li><a routerLink="/podcast" routerLinkActive="active">Podcast</a></li>
                            <li><a routerLink="/feelings-wheel" routerLinkActive="active">Feelings Wheel</a></li>
                            <li><a routerLink="/worst-day-cycle" routerLinkActive="active">Worst Day Cycle</a></li>
                        </ul>
                    </li>
                    <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
                    <li><a routerLink="/book-session" class="contact-nav"   routerLinkActive="active">Book a Session</a></li>
                </ul>


            </div>
        </div>
    </header>